/*
Привет, мир!
*/

.item.red.center
{
    top: 50%;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    position: relative;

    height: 30%;
}
.item.red.center section
{
    overflow: hidden;
    position: relative;
    top: -50%;
    background-color: lightcoral;
    height: 100%;
}